@page "/categorie"
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext Context
@attribute [StreamRendering(enabled:true)]

<h1>Categorias</h1>

<a href="/categorie/create" class="btn btn-primary">Nova Categoria</a>

@if (!Categories.Any())
{
  <p class="text-center">
      <em>Carregando as categorias...</em>
  </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var category in Categories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Title</td>
                    <td>
                        <a href="/categorie/edit/@category.Id" class="btn btn-primary">Editar</a>
                        &nbsp; &nbsp;
                        <a href="/categorie/delete/@category.Id" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code{
    public IEnumerable<Category> Categories { get; set; } = Enumerable.Empty<Category>();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(5000);

        Categories = await Context.Categories
        .AsNoTracking()
        .ToListAsync();
    }

}